.header{
    min-height: fit-content;
    margin: 0;
    padding: 28px 48px 0 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content:flex-end;
    gap: 18px;

}

@media (max-width: 768px) {
 .header{
    padding-left: 24px;
    padding-right: 24px;
 }
}
   
@media  (max-width: 425px) {
    .header{
        padding: 16px 16px 0 16px;
    }
}