.header {
  min-height: fit-content;
  max-width: 92.5%;
  margin: 0 auto;
  padding-top: 28px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .header {
    max-width: 90.625%;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 93.75%;
  }
}

@media (max-width: 425px) {
  .header {
    max-width: 90%;
    padding-top: 16px;
  }
}
