.place__paragraph {
  min-width: 340px;
  max-width: 456px;
  width: 100%;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

@media (max-width: 1024px) {
  .place__paragraph {
    min-width: 310px;
  }
}

@media (max-width: 870px) {
.place__paragraph{
  font-size: 16px;
  min-width: 300px;
}
}

@media (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
    min-width: 250px;
  }
}

@media (max-width: 425px) {
  .place__paragraph {
    min-width: 234px;
  }
}
