.cover__text {
  width: 100%;
  margin: 0;
  padding: 245px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

@media (max-width: 1024px) {
  .cover__text {
    padding: 195px 0;
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .cover__text {
    padding: 115px 0;
  }
}

@media (max-width: 425px) {
  .cover__text {
    padding: 80px 0;
    gap: 16px;
  }
}

@media (max-width: 320px) {
  .cover__text {
    padding: 33px 0;
  }
}
